In [2]:
import pandas as pd

In [146]:
df = pd.read_csv('data\Companies.csv')
df[(df['company_id'] == '67c2d7c22cae393')]

        company_id               company_created_at  company_mcc company_type
0  67c2d7c22cae393  2020-07-28 15:43:44.124000+0000       7392.0     outbound

In [168]:
Transactions = pd.read_csv('data\\Transactions.csv')
print(Transactions.shape)

Transactions.loc[Transactions["acquirer_name"] == 'pagarme', "product_name"] = 'PSP'
Transactions.loc[Transactions["acquirer_name"] != 'pagarme', "product_name"] = 'gateway'
Transactions[Transactions['transaction_id']=='ff5e9dbc52']
Transactions['mdr_fee'] = 0

(531, 10)

In [169]:
Payables = pd.read_csv('data\\Payables.csv') #PAGAR ME COMO PSP
Payables = Payables[Payables['payment_method'] != 'boleto'] 

cols = ['transaction_id','type','payment_method','fee']
Payables[cols]

print(Payables.shape) #all except boleto = 859 rows

Payables['type'].unique()
Payables[Payables['transaction_id'] == '9009ab2a35']['amount'].sum() #HUUUM ENTENDI
Payables[Payables['transaction_id'] == 'ff5e9dbc52']['amount'].sum() #HUUUM ENTENDI

#pegando valores da taxa mdr
for i in Payables['transaction_id'].unique(): 
    Transactions.loc[Transactions["transaction_id"] == i, "mdr_fee"] = Payables[Payables['transaction_id'] == i]['amount'].sum()


Transactions

(859, 10)

,transaction_id,transaction_created_at,transaction_updated_at,acquirer_name,company_id,transaction_installments,amount,payment_method,gateway_fee,status,product_name,mdr_fee
0,9009ab2a35,2020-09-09 12:28:41.195000,2020-09-09 12:28:42.451000,pagarme,707f3fa3d265b9e,3,34300,credit_card,0.0,paid,PSP,34300
1,ff5e9dbc52,2020-09-09 12:58:49.905000,2020-09-09 12:58:51.636000,pagarme,a1c2f57e42dd0b9,5,49990,credit_card,15.0,paid,PSP,49990
2,c0cb6760a2,2020-09-09 12:59:23.530000,2020-09-09 12:59:25.458000,pagarme,707f3fa3d265b9e,1,8000,credit_card,0.0,paid,PSP,8000
3,071ba130dd,2020-09-09 13:10:18.098000,2020-09-09 13:10:19.918000,pagarme,a1c2f57e42dd0b9,3,59980,credit_card,15.0,paid,PSP,59980
4,c2cafaf5a7,2020-09-09 13:54:21.852000,2020-09-09 13:54:23.990000,pagarme,a1c2f57e42dd0b9,7,39999,credit_card,15.0,paid,PSP,39999
...,...,...,...,...,...,...,...,...,...,...,...,...
526,b610115776,2020-09-09 17:59:58.858000,2020-09-09 18:14:09.932000,acquirer_2,dc984ecf72ebcaa,1,3500,credit_card,0.0,refunded,gateway,0
527,ced0b64b1f,2020-09-09 17:59:59.077000,2020-09-09 18:22:03.489000,acquirer_2,dc984ecf72ebcaa,1,79532,credit_card,20.0,paid,gateway,0
528,ffa5688295,2020-09-09 17:59:59.184000,2020-09-09 18:00:00.377000,pagarme,8e031d520c2b921,1,7180,boleto,0.0,waiting_payment,PSP,0
529,c15f59ca79,2020-09-09 17:59:59.645000,2020-09-09 18:00:01.424000,pagarme,efe7c1eaab861a5,1,24290,credit_card,0.0,refused,PSP,0
530,0c4061a69d,2020-09-09 17:59:59.778000,2020-09-09 18:00:10.259000,pagarme,a9810f693ffb8e6,4,41900,credit_card,100.0,paid,PSP,41900

In [176]:
TransactionOperations = pd.read_csv('data\\TransactionOperations.csv')
print(TransactionOperations.shape) #all

refund = (TransactionOperations['type']=='refund') | (TransactionOperations['type']=='capture') 
TransactionOperations = TransactionOperations[refund]
TransactionOperations = TransactionOperations.loc[TransactionOperations['status'] == 'success']
TransactionOperations
print(TransactionOperations.shape) #all
TransactionOperations[TransactionOperations['transaction_id'] == '9009ab2a35'] #HUUUM ENTENDI

Transactions['type_transaction'] = ''

#pegando valores da taxa mdr
for i in TransactionOperations['transaction_id'].unique(): 
    Transactions.loc[Transactions["transaction_id"] == i, "type_transaction"] = TransactionOperations[TransactionOperations['transaction_id'] == i]['type']
    #print(TransactionOperations[TransactionOperations['transaction_id'] == i]['type'])


Transactions

(1925, 6)
(635, 6)

,transaction_id,transaction_created_at,transaction_updated_at,acquirer_name,company_id,transaction_installments,amount,payment_method,gateway_fee,status,product_name,mdr_fee,type_transaction
0,9009ab2a35,2020-09-09 12:28:41.195000,2020-09-09 12:28:42.451000,pagarme,707f3fa3d265b9e,3,34300,credit_card,0.0,paid,PSP,34300,NaN
1,ff5e9dbc52,2020-09-09 12:58:49.905000,2020-09-09 12:58:51.636000,pagarme,a1c2f57e42dd0b9,5,49990,credit_card,15.0,paid,PSP,49990,NaN
2,c0cb6760a2,2020-09-09 12:59:23.530000,2020-09-09 12:59:25.458000,pagarme,707f3fa3d265b9e,1,8000,credit_card,0.0,paid,PSP,8000,NaN
3,071ba130dd,2020-09-09 13:10:18.098000,2020-09-09 13:10:19.918000,pagarme,a1c2f57e42dd0b9,3,59980,credit_card,15.0,paid,PSP,59980,NaN
4,c2cafaf5a7,2020-09-09 13:54:21.852000,2020-09-09 13:54:23.990000,pagarme,a1c2f57e42dd0b9,7,39999,credit_card,15.0,paid,PSP,39999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,b610115776,2020-09-09 17:59:58.858000,2020-09-09 18:14:09.932000,acquirer_2,dc984ecf72ebcaa,1,3500,credit_card,0.0,refunded,gateway,0,NaN
527,ced0b64b1f,2020-09-09 17:59:59.077000,2020-09-09 18:22:03.489000,acquirer_2,dc984ecf72ebcaa,1,79532,credit_card,20.0,paid,gateway,0,NaN
528,ffa5688295,2020-09-09 17:59:59.184000,2020-09-09 18:00:00.377000,pagarme,8e031d520c2b921,1,7180,boleto,0.0,waiting_payment,PSP,0,
529,c15f59ca79,2020-09-09 17:59:59.645000,2020-09-09 18:00:01.424000,pagarme,efe7c1eaab861a5,1,24290,credit_card,0.0,refused,PSP,0,
530,0c4061a69d,2020-09-09 17:59:59.778000,2020-09-09 18:00:10.259000,pagarme,a9810f693ffb8e6,4,41900,credit_card,100.0,paid,PSP,41900,NaN