In [157]:
import pandas as pd

In [158]:
df = pd.read_csv('data\Companies.csv')
df[(df['company_id'] == '67c2d7c22cae393')]

df['company_id'].unique

FileNotFoundError: [Errno 2] No such file or directory: 'data\\Companies.csv'

In [5]:
df.dtypes

company_id             object
company_created_at     object
company_mcc           float64
company_type           object
dtype: object

In [96]:
transaction = pd.read_csv('Transactions.csv')
transaction

#cols = ['transaction_id', 'acquirer_name', 'company_id', 'gateway_fee', 'payment_method', 'status', 'amount']
transaction

,transaction_id,transaction_created_at,transaction_updated_at,acquirer_name,company_id,transaction_installments,amount,payment_method,gateway_fee,status
0,9009ab2a35,2020-09-09 12:28:41.195000,2020-09-09 12:28:42.451000,pagarme,707f3fa3d265b9e,3,34300,credit_card,0.0,paid
1,ff5e9dbc52,2020-09-09 12:58:49.905000,2020-09-09 12:58:51.636000,pagarme,a1c2f57e42dd0b9,5,49990,credit_card,15.0,paid
2,c0cb6760a2,2020-09-09 12:59:23.530000,2020-09-09 12:59:25.458000,pagarme,707f3fa3d265b9e,1,8000,credit_card,0.0,paid
3,071ba130dd,2020-09-09 13:10:18.098000,2020-09-09 13:10:19.918000,pagarme,a1c2f57e42dd0b9,3,59980,credit_card,15.0,paid
4,c2cafaf5a7,2020-09-09 13:54:21.852000,2020-09-09 13:54:23.990000,pagarme,a1c2f57e42dd0b9,7,39999,credit_card,15.0,paid
...,...,...,...,...,...,...,...,...,...,...
526,b610115776,2020-09-09 17:59:58.858000,2020-09-09 18:14:09.932000,acquirer_2,dc984ecf72ebcaa,1,3500,credit_card,0.0,refunded
527,ced0b64b1f,2020-09-09 17:59:59.077000,2020-09-09 18:22:03.489000,acquirer_2,dc984ecf72ebcaa,1,79532,credit_card,20.0,paid
528,ffa5688295,2020-09-09 17:59:59.184000,2020-09-09 18:00:00.377000,pagarme,8e031d520c2b921,1,7180,boleto,0.0,waiting_payment
529,c15f59ca79,2020-09-09 17:59:59.645000,2020-09-09 18:00:01.424000,pagarme,efe7c1eaab861a5,1,24290,credit_card,0.0,refused
530,0c4061a69d,2020-09-09 17:59:59.778000,2020-09-09 18:00:10.259000,pagarme,a9810f693ffb8e6,4,41900,credit_card,100.0,paid

In [27]:
transaction['acquirer_name'].unique()

array(['pagarme', 'acquirer_2', 'acquirer_1', 'acquirer_3'], dtype=object)

In [154]:
TransactionOperations = pd.read_csv('TransactionOperations.csv')
TransactionOperations

TransactionOperations = TransactionOperations.loc[(TransactionOperations['type'] == 'refund') | (TransactionOperations['type'] == 'capture')]

TransactionOperations['type'].unique()

array(['capture', 'refund'], dtype=object)

In [155]:
psp = pd.read_csv('Payables.csv')
psp = psp[psp['payment_method'] != 'boleto'] #só transacoes em cartão credito ou debito
#print(psp['transaction_id'].unique)

TransactionOperations = pd.read_csv('TransactionOperations.csv')
TransactionOperations = TransactionOperations.loc[(TransactionOperations['type'] == 'refund') | (TransactionOperations['type'] == 'capture')]
print(TransactionOperations[TransactionOperations['transaction_id'] == 'b9cfb76e60'])
print(TransactionOperations[TransactionOperations['transaction_operation_id'] == '87e2c7daed4cbf30dd95'])

transaction = pd.read_csv('Transactions.csv')
transaction = transaction[transaction['payment_method'] != 'boleto'] #só transacoes em cartão credito ou debito
#print(transaction['transaction_id'])

#FOI UMA DEPOIS DA OUTRA - VERIFICAR COMO FAZER PARA DEIXAR TODAS AS TRANSACOES NA MESMA TABELA

    transaction_operation_id transaction_id   status     type acquirer_name  \
641  to_87e2c7daed4cbf30dd95     b9cfb76e60  success  capture    acquirer_3
642  to_5a53720d9836120ebd6d     b9cfb76e60  success  capture       pagarme

    transaction_operation_created_at
641    2020-09-09 18:00:09.692000000
642    2020-09-09 18:00:09.646000000
Empty DataFrame
Columns: [transaction_operation_id, transaction_id, status, type, acquirer_name, transaction_operation_created_at]
Index: []

In [156]:
cols = ['transaction_id', 'company_id', 'fee' , 'amount', 'installment', 'payment_method','type']

,transaction_operation_id,transaction_id,status,type,acquirer_name,transaction_operation_created_at
0,to_f0f0eb4612204c011a36,61723017cd,success,conciliate,pagarme,2020-09-10 08:21:58.688000000
1,to_90616a2952e1b998d84e,61723017cd,success,issue,pagarme,2020-09-09 17:56:12.878000000
2,to_682464879f7d921cdf3b,61723017cd,success,authorize,pagarme,2020-09-09 17:56:12.884000000
3,to_4ad8f4fc8b848452652c,f0e92c6d72,success,capture,acquirer_3,2020-09-09 17:57:57.881000000
4,to_4dfc38802d45cc3c5748,f0e92c6d72,success,capture,pagarme,2020-09-09 17:57:57.092000000
...,...,...,...,...,...,...
1920,to_746cae69f9c5a3189faf,d47239e070,success,authorize,acquirer_3,2020-09-09 17:59:52.169000000
1921,to_24505ac5d8b75351547d,30547a4201,success,authorize,pagarme,2020-09-09 17:58:30.426000000
1922,to_4493f93b9f2fd6071847,30547a4201,success,authorize,acquirer_3,2020-09-09 17:58:30.545000000
1923,to_8f7d4b2b129b50a72954,5f9c73321d,success,issue,pagarme,2020-09-09 17:59:14.176000000
1924,to_1b1c1863f269f084ffab,5f9c73321d,success,authorize,pagarme,2020-09-09 17:59:14.183000000