In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('data\Companies.csv')
df[(df['company_id'] == '67c2d7c22cae393')]

df['company_id'].unique

<bound method Series.unique of 0      67c2d7c22cae393
1      546cdbf9433d436
2      fd3ec57560dbd01
3      712e4b393d52515
4      c9bcb2e471c5d8e
            ...
282    efe7c1eaab861a5
283    c5d385a485c1fb6
284    21ea21eccce3c50
285    078e46f5b7adb56
286    8164dd9e3d9a51a
Name: company_id, Length: 287, dtype: object>

In [5]:
df.dtypes

company_id             object
company_created_at     object
company_mcc           float64
company_type           object
dtype: object

In [26]:
transaction = pd.read_csv('data\\Transactions.csv')
transaction

,transaction_id,transaction_created_at,transaction_updated_at,acquirer_name,company_id,transaction_installments,amount,payment_method,gateway_fee,status
0,9009ab2a35,2020-09-09 12:28:41.195000,2020-09-09 12:28:42.451000,pagarme,707f3fa3d265b9e,3,34300,credit_card,0.0,paid
1,ff5e9dbc52,2020-09-09 12:58:49.905000,2020-09-09 12:58:51.636000,pagarme,a1c2f57e42dd0b9,5,49990,credit_card,15.0,paid
2,c0cb6760a2,2020-09-09 12:59:23.530000,2020-09-09 12:59:25.458000,pagarme,707f3fa3d265b9e,1,8000,credit_card,0.0,paid
3,071ba130dd,2020-09-09 13:10:18.098000,2020-09-09 13:10:19.918000,pagarme,a1c2f57e42dd0b9,3,59980,credit_card,15.0,paid
4,c2cafaf5a7,2020-09-09 13:54:21.852000,2020-09-09 13:54:23.990000,pagarme,a1c2f57e42dd0b9,7,39999,credit_card,15.0,paid
...,...,...,...,...,...,...,...,...,...,...
526,b610115776,2020-09-09 17:59:58.858000,2020-09-09 18:14:09.932000,acquirer_2,dc984ecf72ebcaa,1,3500,credit_card,0.0,refunded
527,ced0b64b1f,2020-09-09 17:59:59.077000,2020-09-09 18:22:03.489000,acquirer_2,dc984ecf72ebcaa,1,79532,credit_card,20.0,paid
528,ffa5688295,2020-09-09 17:59:59.184000,2020-09-09 18:00:00.377000,pagarme,8e031d520c2b921,1,7180,boleto,0.0,waiting_payment
529,c15f59ca79,2020-09-09 17:59:59.645000,2020-09-09 18:00:01.424000,pagarme,efe7c1eaab861a5,1,24290,credit_card,0.0,refused
530,0c4061a69d,2020-09-09 17:59:59.778000,2020-09-09 18:00:10.259000,pagarme,a9810f693ffb8e6,4,41900,credit_card,100.0,paid

In [27]:
transaction['acquirer_name'].unique()

array(['pagarme', 'acquirer_2', 'acquirer_1', 'acquirer_3'], dtype=object)

In [23]:
transaction = pd.read_csv('data\\TransactionOperations.csv')
transaction

,transaction_operation_id,transaction_id,status,type,acquirer_name,transaction_operation_created_at
0,to_f0f0eb4612204c011a36,61723017cd,success,conciliate,pagarme,2020-09-10 08:21:58.688000000
1,to_90616a2952e1b998d84e,61723017cd,success,issue,pagarme,2020-09-09 17:56:12.878000000
2,to_682464879f7d921cdf3b,61723017cd,success,authorize,pagarme,2020-09-09 17:56:12.884000000
3,to_4ad8f4fc8b848452652c,f0e92c6d72,success,capture,acquirer_3,2020-09-09 17:57:57.881000000
4,to_4dfc38802d45cc3c5748,f0e92c6d72,success,capture,pagarme,2020-09-09 17:57:57.092000000
...,...,...,...,...,...,...
1920,to_746cae69f9c5a3189faf,d47239e070,success,authorize,acquirer_3,2020-09-09 17:59:52.169000000
1921,to_24505ac5d8b75351547d,30547a4201,success,authorize,pagarme,2020-09-09 17:58:30.426000000
1922,to_4493f93b9f2fd6071847,30547a4201,success,authorize,acquirer_3,2020-09-09 17:58:30.545000000
1923,to_8f7d4b2b129b50a72954,5f9c73321d,success,issue,pagarme,2020-09-09 17:59:14.176000000
1924,to_1b1c1863f269f084ffab,5f9c73321d,success,authorize,pagarme,2020-09-09 17:59:14.183000000

In [24]:
transaction = pd.read_csv('data\\Payables.csv')
transaction

,payable_id,transaction_id,payable_created_at,company_id,amount,fee,installment,type,recipient_id,payment_method
0,7c8107b3b9c9,244764d5ed,2020-09-09 17:46:59.630000,b55bcdbb034df22,197,5,1.0,credit,re_c4bbb14ad4899b4,credit_card
1,fbd3d5f2794a,244764d5ed,2020-09-09 21:01:49.526000,b55bcdbb034df22,-197,-5,NaN,refund,re_c4bbb14ad4899b4,credit_card
2,99935863b190,89482135fc,2020-09-10 08:21:58.585000,5911ce37cc72d08,18700,350,NaN,credit,re_e98e1078b003f57,boleto
3,5c5792966570,70c5db7dec,2020-09-10 08:21:56.084000,7a84b2e791d5e40,49980,380,NaN,credit,re_797abd9f04ca428,boleto
4,a448d3bc6324,b9cfb76e60,2020-09-09 18:00:09.771000,ea08e18846a1402,6396,223,1.0,credit,re_4129768d1be199f,credit_card
...,...,...,...,...,...,...,...,...,...,...
1063,ab773c4877ed,228637d0b4,2020-09-14 16:53:35.999000,72b3544d6623b87,-44754,-1629,NaN,refund,re_32f10b0288875d5,credit_card
1064,0fc3d1cb2055,1c8adc3d2e,2020-09-12 07:04:47.732000,713b27c08bd57f8,9901,280,NaN,credit,re_30b25d8ac601285,boleto
1065,a419f9ba7ab9,3a97b29e2a,2020-09-10 08:07:19.399000,5caba9f1488941b,35400,129,NaN,credit,re_23b072ab5441389,boleto
1066,fab61ced56ab,7e246d5f76,2020-09-11 06:22:44.583000,80bab11368e2021,21688,290,NaN,credit,re_e17d6002b2b5ad5,boleto
1067,8410c47f28c9,c48684382d,2020-09-10 08:21:54.926000,546cdbf9433d436,12349,280,NaN,credit,re_b29545f412baff9,boleto